-e git+https://github.com/alex-johnson41/evolutionSim.git@f84e4c3c204e4c279fee71ec5c791b556c4999fc#egg=EvolutionSim
exceptiongroup==1.1.3
iniconfig==2.0.0
numpy==1.26.0
packaging==23.2
pluggy==1.3.0
pytest==7.4.2
snakeviz==2.2.0
tomli==2.0.1
tornado==6.3.3
